body {
  margin: 0px;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: system-ui, sans-serif;
}

header {
  background-color: rgba(0, 0, 255, 0.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.arc-img {
  background-color: pink;
  /* width: 50%; */
  /* height: 80px; */
  height: 80px;
  flex: 0 1 100px;
}

.nav-bar-div {
  /* background-color: wheat; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* width: 50%; */
  flex: 0 1 50%;
}

ul {
  /* background-color: cornflowerblue; */
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  min-width: 327.38px;
  padding: 0px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

#phone-btn {
  /* background-color: red; */
  border: 1px solid yellowgreen;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 160px;
  height: fit-content;
  padding: 1rem;
  border-radius: 5px;
  min-width: 160px;
}

main {
  background: coral;
}

#pt1 {
  background-color: silver;
  display: flex;
  flex-direction: column;
  padding: 8% 10% 10% 10%;
}

.degradado {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 75%;
  height: fit-content;
  min-width: 250px;
  padding: 1rem;
  text-align: start;
}

.degradado > h1 {
  margin: 0px;
  font-size:calc(20px + 3vw);
}

.degradado > p {
  font-size:calc(10px + 1.45vw);
}

#contact-btn {
  background-color: greenyellow;
  color: white;
  border: 1px solid greenyellow;
  border-radius: 5px;
  width: fit-content;
  padding: 20px 60px 20px 60px;
  margin-top: 60px;
  font-size: 20px;
  font-weight: bold;
}

footer {
  background: wheat;
  padding: 2rem;
  text-align: end;
}

@media screen and (max-width: 600px) {
  #pt1 {
    display: flex;
    align-items: center;
  }

}