body {
  margin: 0px;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: system-ui, sans-serif;
}

header {
  background-color: rgba(0, 0, 255, 0.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.arc-img {
  background-color: pink;
  /* width: 50%; */
  /* height: 80px; */
  height: 80px;
  flex: 0 1 100px;
}

.nav-bar-div {
  /* background-color: wheat; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* width: 50%; */
  flex: 0 1 50%;
}

ul {
  /* background-color: cornflowerblue; */
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  min-width: 327.38px;
  padding: 0px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

#phone-btn {
  /* background-color: red; */
  border: 1px solid yellowgreen;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 160px;
  height: fit-content;
  padding: 1rem;
  border-radius: 5px;
  min-width: 160px;
}

main {
  background: coral;
}

#pt1 {
  background-color: silver;
  display: flex;
  flex-direction: column;
  padding: 8% 10% 10% 10%;
}

#main-info {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 75%;
  height: fit-content;
  min-width: 250px;
  padding: 1rem;
  text-align: start;
}

#main-info > h1 {
  margin: 0px;
  font-size: calc(20px + 3vw);
}

#main-info > p {
  font-size: calc(10px + 1.45vw);
}

#contact-btn {
  background-color: greenyellow;
  color: white;
  border: 1px solid greenyellow;
  border-radius: 5px;
  width: fit-content;
  padding: 20px 60px 20px 60px;
  margin-top: 60px;
  font-size: 20px;
  font-weight: bold;
}

#pt2 {
  background-color: rgb(55, 161, 211);
  color: white;
  display: flex;
  justify-content: center;
  padding: 6rem;
  /* height: 500px; */
}

#solutions-video {
  background-color: black;
  color: white;
  width: 100%;
  height: 400px;
  /* height: min-content; */
}

#solutions-info {
  background-color: indianred;
  color: white;
  width: 100%;
  height: fit-content;
  min-width: 250px;
  padding: 0px 8rem 1rem 2rem;
  text-align: start;
}

#solutions-info > h2 {
  margin: 0px;
  font-size: calc(18px + 2vw);
}

#solutions-info > p {
  font-size: calc(10px + .8vw);
}

#pt3 {
  background-color: indigo;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

#pt3 > h2 {
  margin-bottom: 60px;
}

#services-container {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.imgt {
  background-color: rgb(255, 175, 28);
  width: 100%;
  height: 100px;
}

.service-info {
  background-color: greenyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

footer {
  background: wheat;
  padding: 2rem;
  text-align: end;
}

@media screen and (max-width: 600px) {
  #pt1 {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1300px) {
  #pt2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
  }

  #solutions-video {
    height: 35vw;
    width: 60vw;
    margin-bottom: 2rem;
  }

  #solutions-info {
    width: 80%;
    padding: 1rem;
  }
}
